instance
__pycache__
.vscode
.idea
.DS_Store
env
venv
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.sqlite3
*.db
*.bak
*.tmp
*.old
*.dist-info
*.egg-info
build/
dist/
.eggs/
pip-wheel-metadata/
__pypackages__/
*.egg
*.tar.gz
*.zip
*.egg-info/
*.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
.pyre/
.mypy_cache/
.dmypy.json
.pytype/
.pyright/
cython_debug/
.ipynb_checkpoints/
